* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:#b91010;
    backdrop-filter: blur(8px);
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

.logo {
    color: #e00000;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.5px;
    height: 40px;
}

main {
    position: relative;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/800/569/large_2x/stock-crash-market-exchange-loss-trading-graph-analysis-investment-indicator-business-graph-charts-of-financial-digital-background-down-stock-crisis-red-price-in-down-trend-chart-fall-free-photo.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    color: #fff;
}

main::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(15, 23, 42, 0.7);
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 50px 40px;
    border-radius: 16px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}
a{
    color: #b91010;
    text-decoration: underline;
}
input{
    height: 25px;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    outline: none;
}
button{
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background-color: #b91010;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}